<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">

    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %highlight{%-5level %logger{36}} - %msg%n"/>
        </Console>
        <File name="FileLog" fileName="./log/camel-app.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="route.log" additivity="false" level="trace">
            <AppenderRef ref="FileLog" />
            <!--
            <AppenderRef ref="Console" />
            -->
        </Logger>
        <Logger name="task.integer.app" additivity="false" level="info">
            <AppenderRef ref="FileLog" />
            <AppenderRef ref="Console" />
        </Logger>
        <Root level="all" additivity="false">
            <AppenderRef ref="Console" level="error" />
            <AppenderRef ref="Console" level="error" />
        </Root>
    </Loggers>

</Configuration>